<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!-- <hr class="star-light"> (24.05.23) -->
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
    -->
    <br/>
    <table style="width: 100%; border-collapse: collapse;">
    <tr style="background-color: #e1eddd;"> 
        <td style="padding: 10px; text-align: center;">
            <img src="/img/profile.png" alt="Profile Image" style="width: 100px; height: auto;">
        </td>
        <td style="padding: 10px;">
            <strong>이름/필명:</strong> 홍길동 <br/>
            <strong>소개:</strong> 자연과학을 좋아합니다. <br/>
            <strong>참여한 책:</strong> <img src="/img/portfolio/cake.png" alt="Profile Image" style="width: 10px; height: auto;"> 
        </td>
    </tr>
    <tr style="background-color: #ccc5db;"> 
        <td style="padding: 10px; text-align: center;">
            <img src="/img/profile.png" alt="Profile Image" style="width: 100px; height: auto;">
        </td>
        <td style="padding: 10px;">
            <strong>이름/필명:</strong> 홍길동 <br/>
            <strong>소개:</strong> 자연과학을 좋아합니다. <br/>
            <strong>참여한 책:</strong> <img src="/img/portfolio/cake.png" alt="Profile Image" style="width: 10px; height: auto;"> 
        </td>
    </tr>
    <tr style="background-color: #e1eddd;"> 
        <td style="padding: 10px; text-align: center;">
            <img src="/img/profile.png" alt="Profile Image" style="width: 100px; height: auto;">
        </td>
        <td style="padding: 10px;">
            <strong>이름/필명:</strong> 홍길동 <br/>
            <strong>소개:</strong> 자연과학을 좋아합니다. <br/>
            <strong>참여한 책:</strong> <img src="/img/portfolio/cake.png" alt="Profile Image" style="width: 10px; height: auto;"> 
        </td>
    </tr>
  </table>

  </div>
</section>
