<!-- Footer -->
<footer class="text-center">
  <div class="footer-above" style="background-color: #303050">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <!-- <h3>{{ site.footer.location }}</h3> -->
          <h4>Company</h4>
            
            <!--
            <p>
            {% for adress in site.address %}
            {{ adress.line }} <br>
            {% endfor %}
            </p>
            -->
            <p style="font-size: 12pt;">회사명 ｜ 이즈그리민(izgrimean)</p>
            <p style="font-size: 12pt;">대표자 ｜ 박조은</p>
            <p style="font-size: 12pt;">사업자등록번호 ｜ 813-22-01805</p>
            <p style="font-size: 12pt;">주소 ｜ 경기도 부천시 부일로191번길 35,<br/>2층 211호 일부호(상동, 반달마을)</p>
          
        </div>
        <div class="footer-col col-md-4">
          <h4>{{ site.footer.social }}</h4>
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline"><i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <!-- <h4>{{ site.footer.credits }}</h4>
          <p>{{ site.credits }}</p> (24.05.24) -->
          <h4>Contact</h4>
          <p style="color: white; font-size: 12pt;">이메일 ｜ <a href="mailto:izgrimean@gmail.com"><span style="color: white;">izgrimean@gmail.com</span></a></p> 
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below" style="background-color: #303050">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }} -->
          <!-- I updated (24.05.23) -->
          Copyright &copy; 이즈그리민(izgrimean) 2023
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm" style="background-color: #303050">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
