<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p style="font-size: 16pt; font-weight: 1;">글과 그림의 다양한 의미를 담는 출판사</p>
        <p style="font-size: 26pt; font-weight: 15; color: #313b39;"><b>이즈그리민(izgrimean)</b></p>
        <p style = "text-align : center;"><img width="25%" src = "/img/line.png" alt ="Contact"> </p>
        <p style="font-size: 20pt; font-weight: 10; color: #313b39;">추천작 소개</p>
        <!-- <hr class="star-primary"> (24.05.23) -->
        <br/>
        <br/>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
  

      <!-- newly added -->
    <br><br>
    <div id="footnote_67_50"> <img src="/img/izr.jpeg" alt="Character Image" style="width: 100%;"> </div>
    <br>  
    <div style= "border-radius: 10px; background-color: #d6d6d6; text-align: center;">
      <br>
      <p style="font-size: 15pt !important;">이즈그리민(izgrimean)을 이끌 심볼 캐릭터</p>
      <p style="text-align : center;"><img width="25%" src="/img/line.png" alt="Contact"> </p>
      <p style="font-size: 17pt !important;">이즐(IZR)</p>
      <br>
      <br>
      <p style="font-size: 12pt !important; font-family: Arial; padding-left: 15px; padding-right: 15px;">눈을 반쯤 감고 있는 이즐이지만, 독자 여러분들이 책을 접하고 감동을 받는 순간 눈을 완전히 뜨기도 한답니다. 주로 센치해지는 새벽에 활동하곤 합니다.</p>
      <br>
      <p style="font-size: 11pt !important; font-family: Arial; padding-left: 15px; padding-right: 15px;">
          안녕하세요, 저는 이즐(IZR)이라고 해요.<br><br>
          여러분 모두의 마음에는 숲이 있다는 것, 알고 계시나요? 저는 그곳에서 살고 있답니다.<br>
          그 숲에는 연못이 있는데, 어떤 사람은 바다만큼 넓기도 하고, 또 어떤 사람은 간신히 찾아서 보일 만큼 작기도 해요.<br>
          하지만 크기는 중요하지 않아요. 
          그 연못에는 더 넓은 세계를 알고자 하는 호기심이 담겨 있는데, 그 형태와 느낌은 각자 사람마다 다르고, 계속 변화하거든요.<br>
          저는 그 호기심의 에너지를 받아 여러분의 마음과 공명하는 존재예요.<br><br>
          굳이 그렇게 해서 뭐 하냐고요?<br><br>
          제가 공명할수록, 여러분이 사는 현실의 세계와 상상으로 만들어진 가상의 세계의 거리는 좁혀져요.<br>
          그러면 더 무한한 가능성으로 다양한 삶을 향유할 수 있게 된답니다.<br>
          정말 멋지지 않아요?<br>
          여러분의 마음이 아름답게 움직이면, 저는 너무 행복해지기도 하고요.<br><br>
          저는 여러분 곁에 계속 곁에 있을 거예요.<br>
          눈치채지 못하도록 말이죠.<br>
          그래야 여러분이 더 재밌어지거든요. 하하.<br><br>
          아 참, 이곳, 이즈그리민도 꽤 재밌는 세계가 많아요.<br>
          여유 되면 꼭 놀러 오길 바라요.<br>
          이즈그리민은 언제나 여러분을 환영합니다.
      </p>
      <br>
    </div>
  
  
  
  </div>
</section>
